<div class="container">
  <div class="row">
    <h1 class="text-center py-3">Nuevo Cliente</h1>
    <div class="col-12">
      <%= render "form", client: @client %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to "Volver a Clientes", clients_path %>
    </div>
  </div>
</div>