<div class="container" id="<%= dom_id tweet %>">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Tweet: <%= tweet.id %></h2>
    </div>
    <div class="col-6">
      <p>
        <strong>Descriptción:</strong>
        <%= tweet.description %>
      </p>
    </div>
    <div class="col-6">
      <p>
        <strong>Usuario:</strong>
        <%= tweet.username %>
      </p>
    </div>
  </div>
</div>