<footer style="background-color: black; color: white;">
    <div class="container">
        <div class="row py-5">
            <h4 class="text-center py-3"><i class="fa-solid fa-briefcase"></i><i class="fa-regular fa-briefcase-blank"></i> Mi Futuro Trabajo</h4>
            <div class="col-6">
                <p>Contacto</p>
                <ul>
                    <li>+56912345678</li>
                    <li>contacto@mifuturo.cl</li>
                </ul>
            </div>
            <div class="col-6">
                <p>Dirección:</p>
                <ul>
                    <li>Av. Poncho #123</li>
                    <li>Renca, Región Metropolitana</li>
                </ul>
            </div>
            <h4 class="text-center py-5">Todos los derechos reservados.</h4>
        </div>
    </div>
</footer>