<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-briefcase"></i> Portafolio Christopher</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-house-chimney'></i> Home".html_safe, home_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-book'></i> Proyectos".html_safe, projects_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-envelope'></i> Contacto".html_safe, contact_path, class:"nav-link" %>
          </li>
        </ul>
      </div>
    </div>
</nav>
  
<!-- contenido página -->
<div class="container">
  <div class="row">
    <h1 class="text-center py-5">Portafolio de trabajo</h1>
    <div class="col-12">
      <p>Hola! mi nombre es Christopher Paredes del bootcamp "Ruby on Rails para Startups" mostrando mi pequeño portafolio, el cual, muestra algunos proyectos en los cuales he trabajado.</p>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-6">
      <h4 class="text-center py-3">Conocimientos</h4>
      <p>Poseo conocimientos en desarrollo web tanto de front-end como de back-end, así mismo también en administración de bases de datos relacionales (SQL)</p>
      <div class="container py-3">
        <div class="row">
          <div class="col-4">
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
          </div>
          <div class="col-4">
            <ul>
              <li>PHP</li>
              <li>Ruby on Rails</li>
              <li>.NET</li>
            </ul>
          </div>
          <div class="col-4">
            <ul>
              <li>MySQL</li>
              <li>PostGreSQL</li>
              <li>SQL Server</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 py-3">
      <h4 class="text-center py-3">Educación</h4>
      <p>Titulado en Ingeniería en Informática Empresarial el año 2022 de la Universidad de Talca ubicada en la región del maule.</p>
      <div class="container py-3">
        <div class="row">
          <div class="col-6">
            <ul>
              <li>Ingeniería en Informática Empresarial (2016 - 2022)</li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li>BootCamp Talento Digital (2023)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <h4 class="text-center">Proyectos asociados</h4>
    <p>A lo largo de mi carrera y del bootcamp he desarrollado distintos proyectos web, entre los cuales puedo destacar desarrollo de APIs en .NET, 
      desarrollo FullStack de proyectos legacy en PHP y desarrollo de proyectos básicos en Ruby on Rails (Este sitio web se encuentra desarrollado con este marco de trabajo o Framework)</p>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <h4 class="text-center">Hobbies</h4>
    <p>Mi hobbie principal son los videojuegos en PC, principalmente World of Warcraft en el cual me desenvuelvo como "Raid Leader" o lider de equipo y como Healer o Sanador,
       sirviendo de guía para el progreso de raid en la dificultad mítica.
    </p>
  </div>
</div>