<div class="container">
    <div class="row">
        <h1>Listado de películas</h1>
        <% @movies.each do |movie| %>
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nombre: <%= movie.name %></li>
                      <li class="list-group-item">Sinopsis: <%= movie.synopsis %></li>
                      <li class="list-group-item">Director: <%= movie.director %></li>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= link_to 'Nueva película', movies_new_path, class: 'btn btn-primary w-100' %>
        </div>
    </div>
</div>